# Created by https://www.gitignore.io/api/java,maven,jetbrains

### Java ###
*.class

# Package Files #
*.jar
*.war
*.ear

### Maven ###
target/


### JetBrains ###
.idea/
/out/
*.iml

### Eclipse ###
.settings/
.project
.classpath

### Private Info ###
apikeys.properties
config/config.json
